
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

body {
    max-width: 1024px;
    margin: 1em auto;
    background: #efababa8;
}

header {
    text-align: center;
}

.img{
    background-color: #071ed9;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

h1 {
    margin: .3em;
}

h3 {
    margin: .6em;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: .6em;
}

hr:after {
    background: #efababa8;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

a[href^="mailto"]::after {
    content: '\1F4E9'; /* Иконка */
    padding-left: 5px; /* Расстояние от иконки до текста */
    vertical-align: text-bottom; /* Выравнивание по вертикали */
    font-size: 1em; /* Размер иконки */
}

a[href^="tel"]::after {
    content: '\1F4F2';
    padding-left: 5px;
    vertical-align: text-bottom;
    font-size: 1em;
}
























